{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href="//fonts.gdgdocs.org/css?family=Lobster" rel="stylesheet" type="text/css">
    <style>
        h1 { font-family: 'Pacifico', cursive; }
        h2 { font-family: 'Pacifico', cursive; }
        h3 { font-family: 'Pacifico', cursive; }
        p { font-family: 'Pacifico', cursive; }
        a { font-family: 'Pacifico', cursive;color: black; }
        label { font-family: 'Pacifico', cursive; }
    </style>
    <title>Goodwriter</title>
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-center"><a href="{{ url_for('main.index') }}">Goodwriter</a></h1>
        </div>
    </div>
		<div class="container-fluid">
				<div class="col-md-2">
						<div>
								<h2>Goodwriter</h2>
						</div>
						<div>
							{% if current_user.is_authenticated %}
								<h4><a href="#">欢迎{{ current_user.email }}</a></h4>
								<h4><a href="{{ url_for('auth.logout') }}">注销</a></h4>
								<hr/>
								<h4><a href="{{ url_for('main.article_edit') }}">写文章</a></h4>
								<h4><a href="{{ url_for('main.article_list') }}">查文章</a></h4>
								<hr/>
								<h4><a href="{{ url_for('main.material_edit') }}">写素材</a></h4>
								<h4><a href="{{ url_for('main.material_list') }}">查素材</a></h4>
							{% else %}
								<h4><a href="{{ url_for('auth.login') }}">登录</a></h4>
								<h4><a href="{{ url_for('auth.register') }}">注册</a></h4>
							{% endif %}
						</div>
				</div>
				<div class="col-md-1">
				</div>
				<div class="page-header">
						<h1>Login</h1>
				</div>
				<div class="col-md-4">
				    {{ wtf.quick_form(form) }}
				    <br>
				    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
				    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
				</div>
		</div>
</body>
</html>
